.settings
.DS_store
build/*
build/*
bin/
bin/*
*/target/*
*/build/*
*/out/*
out/*
**/out/**


HyperIoTHUser-api/build/

HyperIoTHUser-api/out/

HyperIoTHUser-features/build/

HyperIoTHUser-model/build/

HyperIoTHUser-repository/build/

HyperIoTHUser-service/build/

HyperIoTHUser-service-rest/build/

HyperIoTHUser-actions/build/
/build/

*.log

HyperIoTHUser-test/build/

HyperIoTHUser-test/target/

HyperIoTHUser-test/\.classpath

HyperIoTHUser-model/\.classpath

HyperIoTHUser-api/out/
