.settings
.DS_store
build/*
build/*
bin/
bin/*
target/*
*/target/*
*/build/*
out/*
*/out/*

HyperIoTCore-api/build/

HyperIoTCore-features/build/

HyperIoTCore-model/build/

HyperIoTCore-repository/build/

HyperIoTCore-service/build/

HyperIoTCore-service-rest/build/
