.settings
.DS_store
build/*
build/*
bin/
bin/*
target/*
*/target/*
*/build/*
out/*
*/out/*

HyperIoTHBaseConnector-api/build/

HyperIoTHBaseConnector-features/build/

HyperIoTHBaseConnector-model/build/

HyperIoTHBaseConnector-repository/build/

HyperIoTHBaseConnector-service/build/

HyperIoTHBaseConnector-service-rest/build/
