.settings
.idea
.DS_store
build/*
build/*
bin/
bin/*
target/*
*/target/*
*/build/*
out/*
*/out/*
/.gradle/
/containers-src/hyperiot-karaf-distribution/target/
/containers-src/hyperiot-karaf-distribution-test/target/
/HyperIoTWorkspaceGradlePlugin/.gradle/
/HyperIoTWorkspaceGradlePlugin/build/
/HyperIoTWorkspaceGradlePlugin/gradle/
/test-reports/xml/
/modules/HyperIoTEthereumConnector/HyperIoTEthereumConnector-test/.gradle/nodejs/node-v17.7.1-darwin-arm64/
/.gradle-wrapper/gradle-wrapper.jar
/.gradle-wrapper/gradle-wrapper.properties