.settings
.DS_store
build/*
build/*
bin/
bin/*
target/*
*/target/*
*/build/*
out/*
*/out/*

HyperIoTAvro-api/build/

HyperIoTAvro-features/build/

HyperIoTAvro-model/build/

HyperIoTAvro-repository/build/

HyperIoTAvro-service/build/

HyperIoTAvro-service-rest/build/
