.settings
.DS_store
build/*
build/*
bin/
bin/*
target/*
*/target/*
*/build/*
out/*
*/out/*

HyperIoTSharedEntity-api/build/

HyperIoTSharedEntity-features/build/

HyperIoTSharedEntity-model/build/

HyperIoTSharedEntity-repository/build/

HyperIoTSharedEntity-service/build/

HyperIoTSharedEntity-service-rest/build/
