.settings
.DS_store
build/*
build/*
bin/
bin/*
target/*
*/target/*
*/build/*
out/*
*/out/*

HyperIoTContentRepository-api/build/

HyperIoTContentRepository-features/build/

HyperIoTContentRepository-model/build/

HyperIoTContentRepository-repository/build/

HyperIoTContentRepository-service/build/

HyperIoTContentRepository-service-rest/build/
