.settings
.DS_store
build/*
build/*
bin/
bin/*
target/*
*/target/*
*/build/*
out/*
*/out/*

HyperIoTCloudEvents-api/build/

HyperIoTCloudEvents-features/build/

HyperIoTCloudEvents-model/build/

HyperIoTCloudEvents-repository/build/

HyperIoTCloudEvents-service/build/

HyperIoTCloudEvents-service-rest/build/
