.settings
.DS_store
build/*
build/*
bin/
bin/*
*/target/*
*/build/*
*/out/*
out/*


HyperIoTAuthentication-api/build/

HyperIoTAuthentication-features/build/

HyperIoTAuthentication-model/build/

HyperIoTAuthentication-repository/build/

HyperIoTAuthentication-service/build/

HyperIoTAuthentication-service-rest/build/

HyperIoTAuthentication-service-rest/\.classpath

HyperIoTAuthentication-test/\.classpath

HyperIoTAuthentication-test/target/

HyperIoTAuthentication-test/out/
