.settings
.DS_store
build/*
build/*
bin/
bin/*
target/*
*/target/*
*/build/*
out/*
*/out/*

HyperIoTBundleListener-api/build/

HyperIoTBundleListener-features/build/

HyperIoTBundleListener-model/build/

HyperIoTBundleListener-repository/build/

HyperIoTBundleListener-service/build/

HyperIoTBundleListener-service-rest/build/
