.settings
.DS_store
build/*
build/*
bin/
bin/*
*/target/*
*/build/*
*/out/*
out/*


HyperIoTBase-api/build/

HyperIoTBase-features/build/

HyperIoTBase-model/build/

HyperIoTBase-repository/build/

HyperIoTBase-service/build/

HyperIoTBase-service-rest/build/

HyperIoTBase-service-websocket/build/

HyperIoTBase-util/build/libs/HyperIoTBase-util-1\.0\.0\.jar

HyperIoTBase-util/build/tmp/jar/HyperIoTBase-util-1\.0\.0\.jar

HyperIoTBase-util/build/tmp/jar/MANIFEST\.MF

HyperIoTBase-util/build/

HyperIoTBase-validation/build/

HyperIoTBase-test/\.classpath

HyperIoTBase-repository/\.classpath
