.settings
.DS_store
build/*
build/*
bin/
bin/*
target/*
*/target/*
*/build/*
out/*
*/out/*

HyperIoTSparkManager-api/build/

HyperIoTSparkManager-features/build/

HyperIoTSparkManager-model/build/

HyperIoTSparkManager-repository/build/

HyperIoTSparkManager-service/build/

HyperIoTSparkManager-service-rest/build/
