.settings
.DS_store
build/*
build/*
bin/
bin/*
target/*
*/target/*
*/build/*
out/*
*/out/*

HyperIoTHadoopManager-api/build/

HyperIoTHadoopManager-features/build/

HyperIoTHadoopManager-model/build/

HyperIoTHadoopManager-repository/build/

HyperIoTHadoopManager-service/build/

HyperIoTHadoopManager-service-rest/build/
