.settings
.DS_store
build/*
build/*
bin/
bin/*
target/*
*/target/*
*/build/*
out/*
*/out/*

HyperIoTEthereumConnector-api/build/

HyperIoTEthereumConnector-features/build/

HyperIoTEthereumConnector-model/build/

HyperIoTEthereumConnector-repository/build/

HyperIoTEthereumConnector-service/build/

HyperIoTEthereumConnector-service-rest/build/
