.settings
.DS_store
build/*
build/*
bin/
bin/*
target/*
*/target/*
*/build/*
*/out/*
out/*


HyperIoTMail-api/build/

HyperIoTMail-features/build/

HyperIoTMail-model/build/

HyperIoTMail-repository/build/

HyperIoTMail-service/build/

HyperIoTMail-service-rest/build/

HyperIoTMail-actions/build/

HyperIoTMail-util/build/

HyperIoTMail-repository/out/

HyperIoTMail-service/out/

HyperIoTMail-test/out/
