.settings
.DS_store
build/*
build/*
bin/
bin/*
target/*
*/out/*
out/*

HyperIoTCompany-api/build/

HyperIoTCompany-features/build/

HyperIoTCompany-model/build/

HyperIoTCompany-repository/build/

HyperIoTCompany-service/build/

HyperIoTCompany-service-rest/build/

HyperIoTCompany-actions/build/

HyperIoTCompany-repository/out/

HyperIoTCompany-test/out/

HyperIoTCompany-test/target/
