.settings
.DS_store
build/*
build/*
bin/
bin/*
target/*
*/build/*
*/target/*
*/out/*
out/*

HyperIoTAssetTag-api/build/

HyperIoTAssetTag-features/build/

HyperIoTAssetTag-model/build/

HyperIoTAssetTag-repository/build/

HyperIoTAssetTag-service/build/

HyperIoTAssetTag-service-rest/build/

HyperIoTAssetTag-actions/build/

HyperIoTAssetTag-test/build/

HyperIoTAssetTag-test/target/

HyperIoTAssetTag-repository/out/

HyperIoTAssetTag-test/out/
