.settings
.DS_store
build/*
build/*
bin/
bin/*
*/target/*
*/build/*
*/out/*
out/*

HyperIoTPermission-api/build/

HyperIoTPermission-features/build/

HyperIoTPermission-model/build/

HyperIoTPermission-repository/build/

HyperIoTPermission-service/build/

HyperIoTPermission-service-rest/build/

\.classpath
/build/

HyperIoTPermission-actions/build/

hs_err_pid590\.log

*.log

HyperIoTPermission-test/build/

HyperIoTPermission-test/target/

HyperIoTPermission-repository/out/

HyperIoTPermission-test/out/
