.settings
.DS_store
build/*
build/*
bin/
bin/*
target/*
*/target/*
*/build/*
*/out/*
out/*


HyperIoTAssetCategory-api/build/

HyperIoTAssetCategory-features/build/

HyperIoTAssetCategory-model/build/

HyperIoTAssetCategory-repository/build/

HyperIoTAssetCategory-service/build/

HyperIoTAssetCategory-service-rest/build/

HyperIoTAssetCategory-actions/build/

HyperIoTAssetCategory-repository/out/

HyperIoTAssetCategory-test/out/
