.settings
.DS_store
build/*
build/*
bin/
bin/*
target/*
*/target/*
*/build/*
out/*
*/out/*

HyperIoTZookeeperConnector-api/build/

HyperIoTZookeeperConnector-features/build/

HyperIoTZookeeperConnector-model/build/

HyperIoTZookeeperConnector-repository/build/

HyperIoTZookeeperConnector-service/build/

HyperIoTZookeeperConnector-service-rest/build/
