.settings
.DS_store
build/*
build/*
bin/
bin/*
target/*
*/target/*
*/build/*
out/*
*/out/*

HyperIoTJackRabbit-api/build/

HyperIoTJackRabbit-features/build/

HyperIoTJackRabbit-model/build/

HyperIoTJackRabbit-repository/build/

HyperIoTJackRabbit-service/build/

HyperIoTJackRabbit-service-rest/build/
