.settings
.DS_store
build/*
build/*
bin/
bin/*
target/*
*/target/*
*/build/*
out/*
*/out/*

HyperIoTStorm-api/build/

HyperIoTStorm-features/build/

HyperIoTStorm-model/build/

HyperIoTStorm-repository/build/

HyperIoTStorm-service/build/

HyperIoTStorm-service-rest/build/
