.settings
.DS_store
build/*
build/*
bin/
bin/*
*/target/*
*/build/*
*/out/*
out/*


HyperIoTKafkaConnector-api/build/

HyperIoTKafkaConnector-features/build/

HyperIoTKafkaConnector-model/build/

HyperIoTKafkaConnector-repository/build/

HyperIoTKafkaConnector-service/build/

HyperIoTKafkaConnector-service-rest/build/

HyperIoTKafkaConnector-api/out/

HyperIoTKafkaConnector-actions/\.classpath
