.settings
.DS_store
build/*
build/*
bin/
bin/*
target/*
*/target/*
*/build/*
out/*
*/out/*

HyperIoTSharedEntityExample-api/build/

HyperIoTSharedEntityExample-features/build/

HyperIoTSharedEntityExample-model/build/

HyperIoTSharedEntityExample-repository/build/

HyperIoTSharedEntityExample-service/build/

HyperIoTSharedEntityExample-service-rest/build/
