.settings
.DS_store
build/*
build/*
bin/
bin/*
target/*
*/target/*
*/build/*
out/*
*/out/*

HyperIoTWebSocket-api/build/

HyperIoTWebSocket-features/build/

HyperIoTWebSocket-model/build/

HyperIoTWebSocket-repository/build/

HyperIoTWebSocket-service/build/

HyperIoTWebSocket-service-rest/build/
