.settings
.DS_store
build/*
build/*
bin/
bin/*
target/*
*/target/*
*/build/*
out/*
*/out/*

HyperIoTJobScheduler-api/build/

HyperIoTJobScheduler-features/build/

HyperIoTJobScheduler-model/build/

HyperIoTJobScheduler-repository/build/

HyperIoTJobScheduler-service/build/

HyperIoTJobScheduler-service-rest/build/
